certifi==2025.8.3
charset-normalizer==3.4.3
executing==2.2.1
googleapis-common-protos==1.70.0
greenlet==3.2.4
idna==3.10
importlib_metadata==8.7.0
logfire==4.5.0
markdown-it-py==4.0.0
mdurl==0.1.2
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-http==1.36.0
opentelemetry-instrumentation==0.57b0
opentelemetry-instrumentation-requests==0.57b0
opentelemetry-instrumentation-sqlalchemy==0.57b0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-util-http==0.57b0
packaging==25.0
protobuf==6.32.0
psycopg2-binary==2.9.10
Pygments==2.19.2
python-dotenv==1.1.1
requests==2.32.5
rich==14.1.0
SQLAlchemy==2.0.43
typing_extensions==4.15.0
urllib3==2.5.0
wrapt==1.17.3
zipp==3.23.0
